/* Vue.js */
[v-cloak] {
    display: none;
}

/* Flex */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-1 { flex: 1; }
.flex-justify-center { justify-content: center; }
.flex-align-center { align-items: center; }
.flex-align-end { align-items: flex-end; }
.flex-wrap { flex-wrap: wrap; }

/* Paddings */
.pt-05 { padding-top: .5rem; }
.pb-1 { padding-bottom: 1rem; }
.px-1 { padding-left: 1rem; padding-right: 1rem; }

/* Margins */
.ml-05 { margin-left: .5rem; }
.mr-05 { margin-right: .5rem; }
.mb-05 { margin-bottom: .5rem; }
.mt-05 { margin-top: .5rem; }

.m-1 { margin: 1rem; }
.ml-1 { margin-left: 1rem; }
.mr-1 { margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mt-1 { margin-top: 1rem; }

/* Animations */
@keyframes spin-ease {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-ease {
    animation: spin-ease 1s ease infinite;
}

/* Typography */
.text-bold { font-weight: 700; }

.text-semibold { font-weight: 600; }

.text-primary { color: $primary; }
.text-danger { color: $danger; }
.text-success { color: $success; }

.text-center { text-align: center; }

/* Text */
.nowrap { white-space: nowrap; }

/* Visibility */
.hidden { display: none; }

/* Width, height */
.fullwidth { width: 100%; }
.fullwidth-force { width: 100% !important; }

/* Colors */
.c-success { color: $success; }
.c-danger { color: $danger; }
.c-primary { color: $primary; }

/* Cursor */
.cursor-alias { cursor: alias; }
.cursor-all-scroll { cursor: all-scroll; }
.cursor-auto { cursor: auto; }
.cursor-cell { cursor: cell; }
.cursor-context-menu { cursor: context-menu; }
.cursor-col-resize { cursor: col-resize; }
.cursor-copy { cursor: copy; }
.cursor-crosshair { cursor: crosshair; }
.cursor-default { cursor: default; }
.cursor-e-resize { cursor: e-resize; }
.cursor-ew-resize { cursor: ew-resize; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }
.cursor-help { cursor: help; }
.cursor-move { cursor: move; }
.cursor-n-resize { cursor: n-resize; }
.cursor-ne-resize { cursor: ne-resize; }
.cursor-nesw-resize { cursor: nesw-resize; }
.cursor-ns-resize { cursor: ns-resize; }
.cursor-nw-resize { cursor: nw-resize; }
.cursor-nwse-resize { cursor: nwse-resize; }
.cursor-no-drop { cursor: no-drop; }
.cursor-none { cursor: none; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-row-resize { cursor: row-resize; }
.cursor-s-resize { cursor: s-resize; }
.cursor-se-resize { cursor: se-resize; }
.cursor-sw-resize { cursor: sw-resize; }
.cursor-text { cursor: text; }
.cursor-w-resize { cursor: w-resize; }
.cursor-wait { cursor: wait; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-zoom-out { cursor: zoom-out; }